* {
  box-sizing: border-box;
}

html {
    background: #ffffff;
    color: #1C3144;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}

body {
    margin: 0;
    padding: 0;
}

main {
    padding: 2rem;
    width: calc(100vw - 4rem);
}

nav {
    background: #1C3144;

}

nav a {
    color: #ffffff;
    text-decoration: none;
}

nav a:hover {
    color: #FFBA08;
}

nav a.active {
    color: #FFBA08;
}

nav.secondary {
    background: #A2AEBB;
    padding: 1rem 2rem;
}

/* nav.secondary a {
    color: #14213d;
    text-decoration: none;
} */

nav.secondary a:hover {
    color: inherit;
    text-decoration: underline;
}

nav.secondary a.active {
    color: inherit;
    text-decoration: underline;
}