* {
  box-sizing: border-box;
}

html {
    background: #2d3142;
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: 0;
    padding: 0;
}

nav {
    background: #4f5d75;

}

nav a {
    color: #ffffff;
    text-decoration: none;
}

nav a:hover {
    color: #ffc300;
}

nav a.active {
    color: #ffc300;
}
