* {
  box-sizing: border-box;
}

html {
    background: #2b2d42;
    color: #edf2f4;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: 0;
    padding: 0;
}

nav {
    background: #d90429;

}

nav a {
    color: #edf2f4;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    color: #2b2d42;
}

nav a.active {
    color: #2b2d42;
}
